<a href="https://colab.research.google.com/github/Bharathgn123/Bharathgn123/blob/main/pythonlab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
Name=input("Enter the name of the student:")
USN=input("Enter the USN of the student:")
Marks1=int(input("Enter marks in subject 1:"))
Marks2=int(input("Enter marks in subject 2:"))
Marks3=int(input("Enter marks in subject 3:"))
print("student details: =======")
print("Name:",Name)
print("USN:",USN)
print("Marks 1:",Marks1)
print("Marks 2:",Marks2)
print("Marks 3:",Marks3)
print("Total:",Marks1+Marks2+Marks3)
print("percent",((Marks1+Marks2+Marks3)/3))

Enter the name of the student:Bharath
Enter the USN of the student:
Enter marks in subject 1:89
Enter marks in subject 2:88
Enter marks in subject 3:95
student details: =======
Name: Bharath
USN:
Marks 1: 89
Marks 2: 88
Marks 3: 95
Total: 272
percent 90.66666666666667